<html>
    <head>
        <title>Page Game</title>
    </head>
    <body>
        Coucou tout le monde!
        User 1 : {{game.nom1}}
        User 2 : {{game.nom2}}
        New Game !
        <table border="1">
            <tbody>
            {{#game.jetons}}
                <tr>
                    {{#.}}
                    <td><a href="http://localhost:8081/game/drop/{{index-1}}">{{.}}</a></td>
                    {{/.}}
                </tr>
            {{/game.jetons}}
            </tbody>
        </table>
    </body>
</html>